@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

#resume {
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
}

h1, h2 {
    text-transform: uppercase;
}

.text {
    font-family: 'Josefin Sans';
}

.title {
    color: #990099;
}

.divider {
    background: #990099;
    border: 0px;
    height: 5px;
}

#container {
    display: flex;
    justify-content: space-evenly;
}

#experience {
    width: 75%;
}

#skills {
    width: 25%;
}

#skills > ul {
    display: contents;
    list-style-type: none;
}

span {
    display: inline;
}